{{ define "main" }}

<div id="c2694" class="frame frame-default frame-type-html frame-layout-0">
    <div class="container mt-4 shadow">
        <div class="row">
            <div class="col-lg-6 p-5">
                <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/sA4Rf7QtDw4?rel=0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen=""></iframe></div>
            </div>
            <div class="col-lg-6 p-5">
                <h5>Wissen, wer was wann bewegt</h5>
                <p>Information ist eine wesentliche Voraussetzung für die optimale Planbarkeit von Unternehmensprozessen
                    entlang der Lieferkette. Der Einsatz unterschiedlicher IT-Systeme lässt den Datenfluss zwischen
                    Versender, Transporteur und Empfänger jedoch immer wieder stocken.</p>
                <p>Die Lösung heißt LOGENIOS. Als Zusammenschluss namhafter Anbieter sorgen wir durch die Entwicklung
                    generischer Schnittstellen zwischen den Systemen für einen unterbrechungsfreien Austausch
                    sendungsbezogener Daten innerhalb der Lieferkette. Aktuelle Statusinformationen zu jeder Zeit und
                    von jedem Ort aus.</p>
            </div>
        </div>
    </div>
</div>

<div id="c2695" class="frame frame-default frame-type-html frame-layout-0">
    <div class="container mt-4 shadow log-green">
        <div class="row">
            <h2 class="px-5 pt-5">Wir schlagen eine digitale Brücke</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 p-5">
                <h5>Durchgängiger Datenfluss</h5>
                <p>Mit LOGENIOS fließen Frachtdaten systemübergreifend entlang der Lieferkette. Vom Versender zur
                    Spedition, zum Frachtführer im Lkw und zum Empfänger. Ohne Übertragungslücken oder einen manuellen
                    Statusabgleich.</p>
            </div>
            <div class="col-lg-4 p-5">
                <h5>Aktueller Sendungsstatus</h5>
                <p>Alle an der Lieferkette beteiligten Parteien haben jederzeit Zugriff auf die aktuellen
                    Sendungsinformationen zur Fracht. Jeder Statuswechsel wird über dieselben Schnittstellen an alle
                    beteiligten Parteien zurückgemeldet.</p>
            </div>
            <div class="col-lg-4 p-5">
                <h5>Optimale Zusammenarbeit</h5>
                <p>Bringen Sie die Kommunikation mit Ihren Logistikpartnern auf einen Nenner und erhalten Sie relevante
                    Informationen in aufbereiteter Form. Für effiziente, verschlankte Abläufe und eine optimale
                    Steuerung von Folgeprozessen.</p>
            </div>
        </div>
    </div>
</div>

<div id="c2696" class="frame frame-default frame-type-html frame-layout-0">
    <div class="container mt-4 shadow">
        <div class="row log-green">
            <h2 class="p-5">Gemeinsam stark für die digitale Zukunft</h2>
        </div>
        <div class="row pt-4">
            <div class="col-lg-3 col-md-4 col-6"><a class="d-block mb-4 h-100" href="https://www.active-logistics.com/"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/active-logistics.png"></a></div>
            <div class="col-lg-3 col-md-4 col-6"><a class="d-block mb-4 h-100" href="https://www.bns-software.com/"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/bns.png"></a></div>
            <div class="col-lg-3 col-md-4 col-6"><a class="d-block mb-4 h-100" href="https://c-logistic.de/"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/C-Informationssysteme.png"></a></div>
            <div class="col-lg-3 col-md-4 col-6"><a class="d-block mb-4 h-100" href="http://www.comlogis.de/"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/comLogis.png"></a></div>
            <div class="col-lg-3 col-md-4 col-6"><a class="d-block mb-4 h-100" href="https://www.equicon.de/"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/EQUIcon.png"></a></div>
            <div class="col-lg-3 col-md-4 col-6"><a class="d-block mb-4 h-100" href="https://kerkemeier.ruhr"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/kerkemeier.png"></a></div>
            <div class="col-lg-3 col-md-4 col-6"><a class="d-block mb-4 h-100" href="https://www.lis.eu/"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/lis.png"></a></div>
            <div class="col-lg-3 col-md-4 col-6"><a class="d-block mb-4 h-100" href="https://www.modulon.de/"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/modulon.png"></a></div>
            <div class="col-lg-3 col-md-4 col-6"><a class="d-block mb-4 h-100" href="https://www.send-os.com/"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/sendos.png"></a></div>
            <div class="col-lg-3 col-md-4 col-6"><a class="d-block mb-4 h-100" href="http://www.sls-kg.de/"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/SLS.png"></a></div>
            <div class="col-lg-3 col-md-4 col-6"><a class="d-block mb-4 h-100" href="https://www.spedion.de/"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/spedion.png"></a></div>
            <div class="col-lg-3 col-md-4 col-6"><a cclass="d-block mb-4 h-100" href="https://tbsoft.de/"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/tbsoft.png"></a></div>
            <div class="col-lg-3 col-md-4 col-6"><a class="d-block mb-4 h-100" href="https://www.transdata.net/"
                    target="_blank"><img class="p-2 shadow-sm border img-fluid"
                        src="img/partner/logo/normal/TRANSDATA.png"></a></div>
        </div>
    </div>
</div>

<div id="c2697" class="frame frame-default frame-type-html frame-layout-0">
    <div class="container mt-4 shadow log-green">
        <div class="row">
            <h2 class="px-5 pt-5">Werden Sie Mitglied der LOGENIOS eG</h2>
        </div>
        <div class="row">
            <div class="col-lg-16 p-5">
                <p>Durch die in ihrem Umfang einzigartige Kooperation von Anbietern und spezialisierten Fachleuten trägt
                    LOGENIOS wesentlich dazu bei, die Digitalisierung in der Transportbranche voranzutreiben und aktiv
                    mitzugestalten. </p>
                <p>&gt; Sie sind Software-Anbieter und interessiert daran, die LOGENIOS-Lösung im Sinne ihrer Kunden
                    innerhalb der Kooperation weiterzuentwickeln? </p>
                <p>&gt; Sie sind neugierig, welche Möglichkeiten sich Ihrem Unternehmen durch unsere systemübergreifende
                    Lösung bieten?</p>
                <p>Gerne stellen wir Ihnen die Chancen und Vorteile vor, die LOGENIOS Ihnen bietet. Wir freuen uns auf
                    Ihre Kontaktaufnahme!</p>
            </div>
        </div>
    </div>
</div>



{{ end }}