<footer class="container shadow my-4 log-blue">
    <div class="row">
        <div class="col-lg-9 p-3 px-5">

            <div class="frame frame-default frame-type-html frame-layout-0">
                <h4>Anschrift:</h4>
                <p>
                    Adresse: Industriestraße 7, 63829 Krombach<br>
                    Telefon: +49 (0) 6024 509 90 150<br>
                    E-Mail: info@logenios.com
                </p>
            </div>


        </div>
        <div class="col-lg-3 pt-3 px-5">

            <p class="float-right">
                {{ range where .Site.RegularPages "Section" "footer" }}
                <a href="{{.Permalink}}"> {{.Title}}</a><br />
                {{ end }}
            </p>
        </div>
    </div>
</footer>