<header>
    <div class="container p-0 shadow">
        <nav class="navbar navbar-expand-lg navbar-dark static-top log-header static-top">
            <div class="container-fluid">

                <a class="navbar-brand" href="/">
                    {{- $image := resources.Get "img/logenios-logo.svg" -}}
                    <img src="{{ $image.RelPermalink }}" width="200" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample03">
                    <ul class="navbar-nav ms-auto">
                        {{ range (where (where .Site.RegularPages "Dir" "/") "Params.noindex" "!=" true) }}
                        <li>
                            <a href="{{.Permalink}}" class="nav-link pr-4"> {{.Title}}</a>
                        </li>
                        {{ end }}
                        <li class="nav-item"><a href="https://app.logenios.com"
                                class="btn btn-primary btn-login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>